<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>568586553251-h0e4hkja7h72obh2a2gf8tobt7u3ur6n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.568586553251-h0e4hkja7h72obh2a2gf8tobt7u3ur6n</string>
	<key>API_KEY</key>
	<string>AIzaSyBmgWQU_aZqfmtFeh18FFom2WNI13ECk1w</string>
	<key>GCM_SENDER_ID</key>
	<string>568586553251</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sasithad.HBONEW</string>
	<key>PROJECT_ID</key>
	<string>hboproject-23251</string>
	<key>STORAGE_BUCKET</key>
	<string>hboproject-23251.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:568586553251:ios:b3b0e827a9009eecbc3c16</string>
	<key>DATABASE_URL</key>
	<string>https://hboproject-23251.firebaseio.com</string>
</dict>
</plist>