<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>982260603859-7tvllogajkq483ecr8ultfg7lkc3rbpc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.982260603859-7tvllogajkq483ecr8ultfg7lkc3rbpc</string>
	<key>API_KEY</key>
	<string>AIzaSyDOWO5HX-jmkQBQ80ei-5y6LNGygtpTlT0</string>
	<key>GCM_SENDER_ID</key>
	<string>982260603859</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sasithad.ads</string>
	<key>PROJECT_ID</key>
	<string>ads-app-e7d74</string>
	<key>STORAGE_BUCKET</key>
	<string>ads-app-e7d74.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:982260603859:ios:638ad6cb941b466b50ad26</string>
</dict>
</plist>